<!-- <app-dom></app-dom> -->
<!-- <app-form></app-form> -->
<!-- <app-search></app-search>
<app-todo-list></app-todo-list> -->


<!-- <app-home></app-home> -->
<!-- <app-news></app-news> -->


<!-- Css動畫 -->
<!-- <app-transition></app-transition> -->

<!-- <app-lifecycle [title]="title" *ngIf="flag"></app-lifecycle>

<hr>
<label for="">这是父组件：</label>
<button (click)="change_title()">改变父组件的title</button>
<br>
<br>
<button (click)="change_flag()">挂载以及卸载组件</button> -->


<!-- <app-rxjs></app-rxjs> -->

<!-- <app-get-post></app-get-post> -->

<header class="header">
  <a [routerLink]="['/index']" routerLinkActive="active">首页</a>
  <a routerLink='/product' routerLinkActive="active">商品</a>
  <a routerLink='/sale' routerLinkActive="active">售卖</a>


</header>
<router-outlet></router-outlet>
